<!DOCTYPE html>
<html xmlns="http://www.w3.org/1999/xhtml"
      xmlns:th="http://www.thymeleaf.org">

<head>
	<link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootswatch/4.5.2/cosmo/bootstrap.min.css" />
	<script src= "https://stackpath.bootstrapcdn.com/bootstrap/4.5.2/js/bootstrap.min.js" ></script>
</head>
<body>
<div align = "center">
	
	<tr>
	<br></br>
	<div class="col-sm-5" align = "center">
                 <div class="panel-body" align = "center" >
                 <table class="table">
                 
                 <thead class="thead-dark">
    <tr>
            <th>Name</th>
            <th>Singer</th>
            <th>     </th>
   	</tr>
  </thead>
 

  <tbody>
      <tr th:each="Songs : ${listsongs}">
   
		<td th:text="${Songs.name}">Name</td>
						<td th:text="${Songs.singer}">singer</td>	    
		<td>
			<a th:href="@{'/deletesong/' + ${Songs.id}}">Delete</a>
		</td>	
		</tr> 
		
     <td>
			<a th:href="@{'/addsong' }">add song</a>
		</td>	
  </tbody>

</table>
                    
                 </div>

            </div> 

	</tr>

	</tbody>
	  <tr>
		
	</tr>
	</table>
	<div>
</body>
</html>